<h1>Make your form here</h1>

<form action="\pirates" method='post'>
	<label for='name'>Name: </label>
	<input type="text" name='pirate[name]'>
	<label for='weight'>weight: </label>
	<input type="text" name='pirate[weight]'>
	<label for='height'>height: </label>
	<input type="text" name='pirate[height]'>
	<label for='pirate[ships][][name]'> Ship 1 Name: </label>
	<input type="text" name='pirate[ships][][name]' id="ship_name_1">
	<label for='pirate[ships][][type]'>Ship 1 Type: </label>
	<input type="text" name='pirate[ships][][type]'id="ship_type_1">
	<label for='pirate[ships][][booty]'>Ship 1 Booty: </label>
	<input type="text" name='pirate[ships][][booty]' id="ship_booty_1">
	<label for='pirate[ships][][name]'> Ship 2 Name: </label>>
	<input type="text" name='pirate[ships][][name]' id="ship_name_2">
	<label for='pirate[ships][][type]'>Ship 2 Type: </label>
	<input type="text" name='pirate[ships][][type]' id="ship_type_2">
	<label for='pirate[ships][][booty]'>Ship 2 Booty: </label>
	<input type="text" name='pirate[ships][][booty]' id="ship_booty_2">
	<input type="submit" value="Submit" id='Submit'>

	<p>Captain Jack Sparrow</p>
    <p>190 lbs</p>
    <p>5 feet 11 inches</p>
    <p>Flying Dutchman</p>
    <p>ghost ship</p>
    <p>gold coins</p>
    <p>Black Pearl</p>
    <p>merchant vessel</p>
    <p>treasure map</p>


</form>
